*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, #454545, #6F31FA);
    margin-right: 60rem;
}

.Principal{
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  margin-left: 120px;
  margin-top: 90px;
}

button{
    margin-top: 40px;
    width: 100px;
}

h1{
    color: white;
    font-size: 65px;
    margin-bottom: 70px;
}

#floatingInput{
    margin-right: 200px;
}